# these values are for testing purposes only
# it should be copied to .test.env take effect
LLM_PROVIDER="openrouter"
LLM_MODEL="nvidia/nemotron-nano-9b-v2:free"
LLM_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY="your_openrouter_api_key_here_or_envvar"
