services:
  outline:
    image: outlinewiki/outline:1.0
    ports:
      - "3000:3000"
    env_file: ./.env
    environment:
      - REDIS_URL=redis://redis:6379
      - URL=http://localhost:3000
      - FORCE_HTTPS=false
      - PGSSLMODE=disable
      - OIDC_CLIENT_ID=outline-client
      - OIDC_AUTH_URI=http://localhost:5556/dex/auth
      - OIDC_TOKEN_URI=http://dex:5556/dex/token
      - OIDC_USERINFO_URI=http://dex:5556/dex/userinfo
      - OIDC_USERNAME_CLAIM=email
      - OIDC_DISPLAY_NAME=Local Login
      - LOG_LEVEL=debug
      - DEBUG=oidc-provider:*
    depends_on:
      - postgres
      - redis
      - dex
    restart: unless-stopped

  redis:
    image: redis:7.4.7
    expose:
      - "6379"
    command: ["redis-server"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped

  postgres:
    image: postgres:16.10
    expose:
      - "5432"
    env_file: ./.env
    environment:
      - POSTGRES_USER=outline
      - POSTGRES_DB=outline
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "outline", "-U", "outline"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: unless-stopped

  dex:
    image: dexidp/dex:v2.44.0
    command: dex serve /etc/dex/config.yaml
    volumes:
      - ./dex/config.yaml:/etc/dex/config.yaml
    ports:
      - "5556:5556"
    restart: unless-stopped
