---
- name: "Check if {{ secret_name }} line exists"
  ansible.builtin.lineinfile:
    path: "{{ env_file_path }}"
    regexp: "^{{ secret_name }}="
    state: present
    line: "{{ secret_name }}="
  register: secret_check
  check_mode: true

- name: "Set boolean for {{ secret_name }} existence"
  ansible.builtin.set_fact:
    secret_exists: "{{ 'line added' not in secret_check.msg }}"

- name: "Extract {{ secret_name }} line if it exists"
  ansible.builtin.shell:
    cmd: "grep '^{{ secret_name }}=' {{ env_file_path }}"
  register: existing_secret_line
  changed_when: false
  when: secret_exists

- name: "Generate {{ secret_name }} if it does not exist"
  ansible.builtin.shell:
    cmd: "openssl rand -hex {{ secret_length | default(32) }}"
  register: generated_secret
  changed_when: false
  when: not secret_exists

- name: "Set {{ secret_variable_name }} fact"
  ansible.builtin.set_fact:
    "{{ secret_variable_name }}": "{{ (existing_secret_line.stdout.split('=', 1)[1] | trim) if secret_exists else generated_secret.stdout | trim }}"

- name: "Add or update {{ secret_name }} in .env file"
  ansible.builtin.lineinfile:
    path: "{{ env_file_path }}"
    regexp: "^{{ secret_name }}="
    line: "{{ secret_name }}={{ lookup('vars', secret_variable_name) }}"
    create: yes
