services:
  outline:
    image: outlinewiki/outline:1.0
    env_file: ./docker.env
    ports:
      - "3000:3000"
    volumes:
      - outline-data:/var/lib/outline/data
    depends_on:
      - postgres
      - redis
    restart: unless-stopped

  redis:
    image: redis:7.4.7
    env_file: ./docker.env
    expose:
      - "6379"
    volumes:
      - redis-data:/data
    command: ["redis-server"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped

  postgres:
    image: postgres:16.10
    env_file: ./docker.env
    ports:
      - "5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "outline", "-U", "outline"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: unless-stopped

  # dex container is not needed for tests

volumes:
  outline-data:
  postgres-data:
  redis-data:
