name: Integration Test Docker Build

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: Docker image name to build (e.g. ollama/ollama:0.12.6)
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and push Docker image
        uses: ./.github/actions/docker-build
        with:
          image_name: ${{ inputs.image_name }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
